{# ============================================================================
   Jarvis - Local smart gatekeeper (PTZ camera, face & voice recognition)
   ----------------------------------------------------------------------------
   File    : deploy/ansible/roles/nginx/templates/jarvis-upstream.conf.j2
   Purpose : Front upstream of the Jarvis site (Anubis or the API)
   Author  : Thierry Gayet <thierry.gayet@labworks.fr>
   Project : jarvis-home (version: jarvis/VERSION)
   Copyright (c) 2026 Thierry Gayet. SPDX-License-Identifier: 0BSD
   ============================================================================ #}
# {{ ansible_managed }} - /etc/nginx/snippets/jarvis-upstream.conf
upstream jarvis_front {
    server 127.0.0.1:{{ 8923 if jarvis_anubis_enabled | bool else 8000 }};
    keepalive 16;
}
